/src/__history
/unittest/Win32/Debug
/unittest/__history
/dependencies/Log4D/__history/*.~1~
/unittest/*.dsk
/unittest/*.skincfg
/unittest/*.~dsk
/dependencies/Log4D/*.dcu
/dependencies/Log4D/__history
/src/*.dcu
